NODE_ENV=development
PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=buzz
JWT_SECRET=YYF7KVT116YgESLg46Esd79pGA3VRVAE3lOOKmJPZFo=
JWT_EXPIRES_IN=1h
BCRYPT_ROUNDS=12
ADMIN_ID=01M27VJGBRHFHTW9MVPKJ4EEWB